<div class= "container">
<div class="row my-5">
    <div class="col-12">
        <button class="btn btn-primary" (click)= "AddRecord()">Add Company Details</button>
    </div>
</div>
<div class="my-5">
    <kendo-grid
          [data]="companyDetailsList"
          [pageSize]="state.take || 0"
          [skip]="state.skip || 0"
          [sort]="state.sort || []"
          [sortable]="false"
          [pageable]="true"
          [resizable]="true"
          (dataStateChange)="dataStateChange($event)"
        >
        <kendo-grid-column 
                    title = "Edit" 
                    [width]="100"
                    >
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="btn btn-warning" (click)= "EditRecord(dataItem.Id)">Edit</button>
                    </ng-template>
        </kendo-grid-column>
        <kendo-grid-column 
                    *ngIf="userDetailsVm.RoleType == 1"
                    title = "Status" 
                    field="CompanyStatus"
                    [width]="200"
                    >
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="statusBtn btn btn-danger" *ngIf="dataItem.CompanyStatus != 1 " (click)= "Activate(dataItem.Id)">Deactivated</button>
                        <button class="statusBtn btn btn-success" *ngIf="dataItem.CompanyStatus == 1 " (click)= "Deactivate(dataItem.Id)">Activated</button>
                    </ng-template>
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "Id" 
                    field="Id"
                    [width]="100"
                    >
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "Company Name" 
                    field="CompanyName"
                    [width]="200"
                    >
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "Managing Partner" 
                    field="ManagingPartner"
                    [width]="200"
                    >
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "Launched Year" 
                    field="LaunchedYear"
                    [width]="100"
                    >
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "Stage" 
                    field="StageString"
                    [width]="200"
                    >
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "No. Of Members" 
                    field="NumberOfMembers"
                    [width]="200"
                    >
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "Web-Site" 
                    field="WebSite"
                    [width]="200"
                    >
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "Email" 
                    field="Email"
                    [width]="200"
                    >
        </kendo-grid-column>
        <kendo-grid-column
                    title = "Phone" 
                    field="Phone"
                    [width]="120"
                    >
        </kendo-grid-column>
        <kendo-grid-column
                    title = "Country" 
                    field="Country"
                    [width]="100"
                    >
        </kendo-grid-column>
        <kendo-grid-column
                    title = "City" 
                    field="City"
                    [width]="100"
                    >
        </kendo-grid-column>
        <kendo-grid-column 
                    title = "Pincode" 
                    field="Pincode"
                    [width]="100"
                    >
        </kendo-grid-column>
</kendo-grid>

</div>
</div>